#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --primary: rgb(78,26,61);
    --secondary: rgb(5,224,233);
    --tertiary: rgb(255,39,104);
    --dark: rgb(29,25,10);
    --light: rgb(207,238,209);
  background-color: var(--secondary)
}

header {
  background-color: var(--primary);
  color: var(--light);
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: var(--light);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.card {
  padding: 2em;
}

footer {
  background-color: var(--tertiary);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

footer nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer a {
  color: var(--light);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}