.about-container {
    background-color: rgb(5, 224, 233);  /* Set the background */
    min-height: 100vh; /* Ensures it covers the full viewport height */
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto; /* Centers the container */
}

.about-content {
    display: flex;
    align-items: center;  /* Keeps image and text aligned */
    gap: 30px;  /* Creates space between the image and text */
    max-width: 80%;
}
  
.about-image {
    flex: 1;
    max-width: 600px;;
    width: 250px;
    height: auto;
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
  
.about-text {
    flex: 1;
    max-width: 600px;
    line-height: 1.6;
    font-weight: 700;
}
  